.user {
    display: flex;
    height: 80vh;
    position: fixed;
    padding: 90px 20px 10px 40px;
    height: 100vh;
    width: calc(100% - 250px);
    justify-content: space-between;
    flex-direction: row;

      .userlist {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 90%;
        .userlist__body {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .summary{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 20px;
              width: 100% !important;
          .summary__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #d7dbdd;
            height: 100px;
            width: 100%;
            padding: 20px;
            border-radius: 8px;
            p {
              font-size: 1.2rem;
              color: #76797a;
            }
            p:last-child {
              font-size: 1.5rem;
              font-weight: 600;
              color: black;
            }
          }}
          .active_status{
              width: 100px;
              height: 30px;
              padding: 5px;
              border: 2px solid #48c9b0 ;
              color: #48c9b0;
              font-weight: 600;
              border-radius: 8px;
          }
          .suspended_status{
              width: 100px;
              height: 30px;
              padding: 5px;
              border: 2px solid #e74c3c ;
              color: #e74c3c;
              font-weight: 600;
              border-radius: 8px;
          }
          .pagination {
            list-style: none;
            height: 31.5px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 2px;
            cursor: pointer;
          }
          .active {
            background-color: #d7dbdd;
            border: 3px solid #76797a;
          }
          .previous{
              border-right: 1px solid #d7dbdd;
              gap: 5px;}
  
          .next{
              border-right: 1px solid #d7dbdd;
              gap: 5px;
          }
          .page-item {
            list-style: none;
            height: 31.5px;
            width: 31px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
            border: 1px solid #d7dbdd;
          }
        }
      }
      .no_client{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          width: 60vw;
          p{
              font-size: 1.8rem;
              font-weight: 600;
          }
        }
  }
  