.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 100px 40px 20px 40px;
  flex-direction: row;
  .side {
    width: 250px !important;
  }
  .main {
    width: calc(100vw - 250px);
    .card_container {
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      .card {
        margin: 20px;
        border: 2px solid #ededed;
        border-radius: 8px;
        padding: 20px;
        height: 350px;
        cursor: pointer;
        position: relative;

        .quick_view {
          display: none;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: opacity 0.3s ease, visibility 0.3s ease;
          opacity: 0;
          visibility: hidden;
        }

        &:hover {
          .quick_view {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }

        .card_img {
          width: 13rem;
          height: 13rem;
          margin-bottom: 1rem;
        }

        .card_details {
          .card_title {
            margin-bottom: 1rem;
          }

          .card_review {
            margin-bottom: 1rem;
            display: flex;
            .rating_star {
              color: #d5ab55;
            }
            .total_review {
              font-size: 0.9rem;
              margin-left: 10px;
            }
          }

          .card_price {
            display: flex;
            justify-content: space-around;
            // .price {}
            .bag {
              .bag_icon {
                color: #535353;
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}
.product_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  .left {
    width: 58%;
  }
  .right {
    width: 40%;
    padding: 10px;
    display: block;
    align-items: baseline;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 20px;
      width: 95%;
    }
    .body {
      display: flex;
      gap: 20px;
      flex-direction: column;
      .price {
        width: 95%;
        height: 100px;
        background-color: #ededed;
        border-radius: 8px;
        padding: 10px 20px;
        .title {
          font-size: 1.3rem;
          font-weight: 400;
          color: black;
        }
      }
      .button {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 95%;
        gap: 10px;
        .buy {
          background: #535353;
          color: white;
        }
        .add {
          background: #ffffff;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
}
