@use "/src/styles/base";
@use "./mixins";
@use "./light-dark-theme";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: base.$font-Avertaregular;
}

html,
body {
  overflow-x: hidden;
  font-size: 1rem;
  color: base.$bodyfont;
  background: var(--bgThemeColor1);
  transition: background-color 0.5s ease;
  font-family: base.$font-Avertaregular;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  max-height: 100%;
  position: fixed;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--textThemeColor4) !important;

  :hover {
    color: base.$primary-light;
  }
}

.datePicker__customWrapper {
  padding: 6px 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: base.$white;
}
.react-datepicker-wrapper {
  margin-top: 0.45rem;
  & .react-datepicker__input-container > input {
    width: 100%;
    height: 3rem;
    font-size: 0.875rem;
    color: var(--textThemeColor1);
    padding: 0.75rem 0.375rem 0.75rem 0.9rem;
    border: none;
    background-color: var(--inputThemeColor);
    font-family: base.$font-Avertaregular;

    border-radius: 4px;
    &:is(:focus-visible, :active, :focus) {
      outline: none;
      border: 1px solid var(--textThemeColor4);
    }
  }
}
.react-datepicker {
  border: none !important;
}
.react-datepicker__header,
.react-datepicker__header--custom {
  background-color: base.$white !important;
}

.clear {
  clear: both;
}

.grid {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.column {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/** modal css **/
.ui.page.dimmer {
  background: rgba(0, 0, 0, 0.2) !important;
  &.modals {
    .close {
      top: 20px;
      right: 20px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      // background: url(https://mufasa.interswitchng.com/p/nextquickteller/qt-rebirth-img/close-icon.png)
      //   no-repeat center;
      padding: 0;
      z-index: 11;
      color: base.$black;
      opacity: 0.7;

      &:before {
        display: none;
      }
    }
  }
  .modal {
    background: var(--bgThemeColor4);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    .modal__layout {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;

      &__padding {
        width: 100%;
        border-radius: 10px;
        background-color: base.$white;
        padding: 60px;

        .modal__logo__mbl {
          display: none;
          margin-bottom: 40px;
        }
      }
      &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 50px;

        &__icn {
          margin-bottom: 20px;
        }

        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &__title {
            position: relative;
            line-height: 32px;
            display: inline-block;
            font-size: 24px;
            // font-family: base.$font-bold;
            color: var(--textThemeColor1);
            margin-bottom: 5px;
            font-family: base.$font-Avertaregular !important;
            text-align: center;
          }

          &__info {
            font-size: 14px;
            line-height: 20px;
            color: var(--textThemeColor1);
            text-align: center;
            width: 100%;
            transform: rotate(0.03deg);
            transform-origin: 0 0;
          }
        }
      }
    }
  }
}

.ui.modal > .header {
  font-family: base.$font-Avertaregular;
  border-bottom: none !important;
  align-items: center;
  background: var(--bgThemeColor4);
  color: var(--textThemeColor1);
}

.primary-btn,
.ui.button {
  background: var(--buttonTheme);
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  color: var(--textThemeColor6);
  font-family: base.$font-semibold;
  cursor: pointer;
  border: none;
  padding: 0 20px;
  border-radius: 8px;
  min-width: 100px;

  &.medium {
    min-width: 330px;
  }
}
.primary-btn:hover,
.ui.button:hover,
.primary-btn:valid,
.ui.button:valid {
  background: var(--buttonTheme);
  color: var(--textThemeColor6);
}

// react-select
.css-1s2u09g-control {
  width: 100% !important;
  background-color: var(--inputThemeColor) !important;
  color: var(--textThemeColor1) !important;
  border: none !important;
  gap: 8px;
  height: 36px !important;
  margin-top: 0.25rem;
}
.css-1s2u09g-control:active,
.css-1s2u09g-control:focus {
  border: 1px solid base.$hover-blue !important;
  border-radius: 4px !important;
  margin-top: 0.25rem;
}

.css-26l3qy-menu {
  font-size: 0.875rem !important;
  color: base.$bodyfont-dark !important;
  z-index: 999px !important;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.ui.floating.dropdown > .menu {
  background: var(--inputThemeColor1) !important;
  width: 100%;
}
.ui.dropdown > .animating.menu .scrolling.menu,
.ui.dropdown > .visible.menu .scrolling.menu {
  display: block;
  max-width: 250px !important;
  max-height: 216px;
  border-top: none;
  border-radius: 8px !important;
  box-shadow: none !important;
  background: var(--inputThemeColor1) !important;
  font-size: 0.875rem !important;
}
.ui.dropdown .menu > .item {
  padding: 8px;
  .ui.label {
    background-color: inherit;
    padding: 0.21rem;
    margin-right: 0;
  }
  > .text {
    float: right;
  }
}

.ui.dropdown .menu > .item .ui.label {
  background-color: inherit;
  padding: 0.21rem;
  margin-right: 0;
  color: var(--textThemeColor1) !important;
  font-size: 0.75rem;
}

.ui.dropdown > .text {
  display: inline-block;
  -webkit-transition: none;
  transition: none;
  color: var(--textThemeColor1);
  font-size: 0.875rem;
  padding: 0 10px 0 8px;
}

.ui.dropdown .scrolling.menu > .item.item.item {
  font-size: 0.75rem;
  color: var(--textThemeColor1);
}

.dropdown__search {
  position: relative;
  input {
    width: 95%;
    padding: 12px 10px 12px 30px;
    border-radius: 4px;
    margin: 8px;
    background-color: var(--inputThemeColor);
    border: none;
    outline-width: 0.5px;
    font-family: base.$font-Avertaregular;
    color: var(--textThemeColor1);
    font-size: 0.75rem;
    margin-top: 13px;
    caret-color: var(--textThemeColor4);

    &:focus {
      outline: none;
      border: 0.5px solid;
      border-color: var(--textThemeColor4);
    }
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: base.$text-grey;
    }
  }
}
.select_input {
  .ui.selection.dropdown {
    width: 100%;
    padding: 16px;
    background: var(--inputThemeColor);
    border: none;
  }
  &._margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .select_title {
    color: var(--textThemeColor1) !important;
    font-weight: 600;
    margin-bottom: 0.25rem !important;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .css-qc6sy-singleValue {
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.25rem;
    color: base.$bodyfont-dark;
  }

  .select-dropdown-text {
    color: var(--textThemeColor1) !important;
  }

  .ui.selection.dropdown > .delete.icon,
  .ui.selection.dropdown > .dropdown.icon,
  .ui.selection.dropdown > .search.icon {
    top: 18px !important;
  }

  .ui.selection.active.dropdown {
    -webkit-box-shadow: 0px !important;
    box-shadow: 0 !important;
    appearance: none !important;

    &:focus {
      outline: none;
      border: 1px solid base.$hover-blue;
    }
  }

  .ui.selection.dropdown:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .errorText {
    margin-top: 0.25rem;
    color: base.$secondary;
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

.custom__form {
  font-family: base.$font-Avertaregular;
  width: 100%;

  .custom__form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cvv__icn__pointer {
      cursor: pointer;
      height: 2vh;
    }
  }

  .custom__form__label {
    color: var(--textThemeColor1);
    font-weight: 600;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    &__optional {
      color: base.$text-grey;
    }
  }

  &._margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .custom__form__input {
    background: var(--inputThemeColor);
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    outline: none;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    color: var(--textThemeColor1);
    height: 48px;
    margin-top: 5px;
    gap: 10px;

    &:focus-within {
      outline: none;
      border: 1px solid var(--textThemeColor4);
    }

    .inside__input {
      border: none;
      outline: none;
      background: var(--inputThemeColor);
      font-size: 0.875rem;
      width: 100%;
      font-family: base.$font-Avertaregular;
      color: var(--textThemeColor1) !important;
      caret-color: var(--textThemeColor4);

      &:disabled {
        cursor: not-allowed !important;
        pointer-events: all !important;
        border: none;
      }
    }

    input:focus {
      color: var(--textThemeColor1);
      border: none;
    }

    .password__eye {
      cursor: pointer;
    }
  }

  .error__card {
    border: 1px solid red !important;
  }

  .errorInput__border {
    border: 1px solid base.$secondary;
  }
  .errorText {
    margin-top: 0.25rem;
    color: base.$secondary;
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

.ui.button {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 3rem;
  background: var(--textThemeColor4);
  border-radius: 0.5rem;
  cursor: pointer;
  &.outlined__button {
    border: 1px solid var(--textThemeColor4);
    background: var(--bgThemeColor1);
    color: var(--textThemeColor4);

    &:hover {
      color: var(--textThemeColor4) !important;
    }
  }
  &.contained__disabled-button {
    background: base.$input-border-dark;
    color: var(--textThemeColor6);
    border: none;
    width: fit-content;
    cursor: not-allowed !important;
    pointer-events: all !important;
    &:hover {
      cursor: not-allowed !important;
      pointer-events: all !important;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--inputThemeColor) inset;
  -webkit-box-shadow: 0 0 0 30px var(--inputThemeColor) inset !important;
  color: var(--textThemeColor1) !important;
  caret-color: var(--textThemeColor4);
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  display: block;
  position: absolute;
  content: "";
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  border: none;
  top: 0;
  left: -3px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 32px;
  height: 16px;
  border-radius: 32px;
}

.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after {
  background: base.$white linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: "" !important;
  opacity: 1;
  z-index: 2;
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%),
    0 0 0 1px rgb(34 36 38 / 15%) inset;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%),
    0 0 0 1px rgb(34 36 38 / 15%) inset;
  width: 14px;
  height: 14px;
  top: 1px;
  right: 1rem;
  border-radius: 500rem;
  -webkit-transition: background 0.3s ease, left 0.3s ease;
  transition: background 0.3s ease, left 0.3s ease;
}

input:checked ~ label:after {
  left: 0.8rem !important;
  top: 0.05rem !important;
}

input:checked ~ label:before {
  background: var(--textThemeColor4) !important;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  & > input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: base.$isw-grey;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 1.269375rem;
      width: 1.309375rem;
      left: 3px;
      bottom: 1.5px;
      background-color: base.$white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  input:checked + .toggle-slider {
    background-color: var(--buttonTheme);
  }

  input:focus + .toggle-slider {
    box-shadow: 0 0 1px var(--buttonTheme);
  }

  input:checked + .toggle-slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  .toggle-slider.round {
    border-radius: 28px;
  }

  .toggle-slider.round:before {
    border-radius: 50%;
  }
}

.dob__error__message {
  color: var(--textThemeColor8);
}

.birth__date__error {
  margin-top: 0.25rem;
  color: base.$secondary;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

::placeholder {
  color: base.$text-grey;
  font-weight: 400;
  font-size: 0.875rem;
}

.ui.fluid.dropdown {
  border-radius: 4px;
  margin-top: 0.525rem;
  background: var(--inputThemeColor) !important;
}

::-webkit-textfield-decoration-container {
  color: var(--textThemeColor1);
}

.reactEasyCrop_Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
  width: 100%;
  border-radius: 8px;
}

.reactEasyCrop_CropArea {
  width: 380px !important;
  height: 380px !important;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.4) !important;
  left: 50% !important;
}

.toast-enter {
  animation: fade-in 0.3s ease forwards;
}

.toast-leave {
  animation: fade-out 0.9s ease forwards;
}

@keyframes fade-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-500%);
  }
}

.menu__list__data {
  display: flex;
  justify-content: space-between;
  color: var(--textThemeColor1);
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;

  .active {
    color: var(--textThemeColor4);
    border-bottom: 3px solid var(--textThemeColor4);
    font-family: base.$font-semibold;
  }

  .__items {
    padding-bottom: 10px;
  }
}

.select__placeholder {
  color: base.$text-grey;
  font-weight: 400;
  font-size: 0.875rem;
}

@media only screen and (max-width: base.$mobile) {
  body {
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    position: fixed;
    width: 100%;
    text-rendering: optimizeLegibility;
  }

  .ui.page.dimmer {
    &.modals {
      padding: 0;
    }
  }

  .reactEasyCrop_Container {
    position: absolute;
    top: 0;
    left: 0 !important;
    right: 0;
    bottom: 0;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99 !important;
  }

  .reactEasyCrop_CropArea {
    width: 300px !important;
    height: 300px !important;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.4) !important;
    left: 50% !important;
  }

  .reactEasyCrop_Contain {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0 !important;
    right: 0;
  }
}


// @import "common.mobile";
