@use "../../../../styles/base" as *;
@use "../../../../styles/light-dark-theme";

@media only screen and (max-width: $mobile) {
  .sidebar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    min-height: 100vh;
    z-index: 12;
    background-color: var(--bgThemeColor1);

    .sidebar__logo {
      display: none;
    }

    .sidebar__menuItems {
      margin-top: 50px;
    }
    .siderbar__itemLinks {
      color: $white !important;

      &:hover {
        background-color: var(--bgThemeColor2);
        color: var(--textThemeColor4) !important;
      }
    }

    .active {
      color: var(--textThemeColor4) !important;
      background-color: var(--bgThemeColor2);
      border-right: 5px solid var(--textThemeColor4);
      transition: all 0.5s;
    }
  }
  .showOnMobile {
    display: block;
  }
}
