.sidebar {
  height:100vh;
  transition: all 0.5ms;
  border-right: 2px solid #eaeded;
  width: 250px !important;
  position: fixed;
  left: 0;
  background: rgb(234,253,255);
background: linear-gradient(322deg, rgba(234,253,255,1) 0%, rgba(237,245,247,1) 14%, rgba(255,255,255,1) 70%);
  z-index: 1;
  overflow-y: hidden;
  padding-top: 40px;
  .sidebar__layout {
    height: 80%;
  
    .sidebar__menuItems {
      margin-left: 20px;
      &:hover {
        color: unset;
      }
      .siderbar__itemLinks {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 20px;
        color: black !important;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        height: 36px;
        margin-bottom: 15px;
        position: relative;

        &:hover {
          background-color: #e5e7e9;
          color: black;
          &.active {
            color: black !important;
            background-color: rgb(187, 239, 245);
            border-right: 5px solid rgb(187, 239, 245);
            transition: all 0.5s;
          }
        }

        .deactive {
          color: none;
        }
        .menuItem__title{
          padding-left: 11px;
          padding-block:11px; 
          &:hover {
            color: var(--textThemeColor4);
            background-color: #e5e7e9;

          }
        }
      }

     
    }
    .active {
      color: var(--textThemeColor4) !important;
      background-color:  rgb(225, 239, 240);
      border-right: 5px solid var(--textThemeColor4);
      transition: all 0.5s;
    }

    .sidebar__menuItem__icon {
      margin-right: 0.7rem;
    }
  }
  .menuItem__settings {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 20px;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    height: 36px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background: var(--bgThemeColor2);
      color: var(--textThemeColor4);
    }
    .menuItem__title{
      padding-left: 11px;
      padding-block:11px; 
      &:hover {
        color: var(--textThemeColor4);
      }
    }
  }
  .mobile__menuItem__logout {
    font-weight: 400;
        font-size: 1.1rem;
        line-height: 20px;
        color: black !important;
        display: flex;
        align-items: center;
        padding-left: 3.5rem;
        height: 36px;
        margin-bottom: 15px;
        position: relative;
        gap: 20px;

        &:hover {
          background-color: #e5e7e9;
          &.active {
            color: var(--textThemeColor4) !important;
            background-color: rgb(187, 239, 245);
            border-right: 5px solid  rgb(187, 239, 245);
            transition: all 0.5s;
          }
        }
  }

}

@import "sideBar.mobile";
